fastapi
python-multipart
pydantic
pydantic-settings
numpy
uvicorn

azure-cosmos
azure-storage-blob
azure-identity

gremlinpython

openai

llama-index
llama-index-readers-web
llama-index-readers-file

langchain
langchain-openai

python-dotenv

markdownify